{% extends "index.html" %}
{% block title %}Login!{% endblock %}
{% block body %}
    {{ super() }}
    <div class="box box-middle shadow">
        <form method="post" action="login">
            <div class="text">
                <span class="input-wrap">
                    <input class="intext" type="text" name="mail_id" placeholder="Mail ID">
                </span>
                <span class="input-wrap">
                    <input class="intext" type="password" name="mail_pw" placeholder="Mail Password">
                </span>
                <span class="input-wrap">
                    <input type="submit" name="login" value="Login">
                </span>
            </div>
        </form>
    </div>
{% endblock %}
